<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgz.mybatis.mapper.FeeMapper">

    <resultMap id="BaseResultMap" type="Fee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="fee_amt" property="feeAmt" jdbcType="DECIMAL"/>
        <result column="fee_date" property="feeDate" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByFeeDate" resultMap="BaseResultMap">
        select
        id, fee_amt, fee_date
        from fee
        where fee_date = #{ feeDate }
    </select>

</mapper>
